# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Distribution / packaging
*.egg-info/
build/
dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
